n8n-workflows/shared/whatsapp-voice-bridge.json
{
  "name": "FLUXION WhatsApp Voice Bridge",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseCode": 200,
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "webhook_whatsapp",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract message from WhatsApp webhook payload\nconst body = $input.first().json;\n\n// Handle verification challenge from Meta\nif (body.hub?.mode === 'subscribe') {\n  return { challenge: body.hub.challenge };\n}\n\n// Extract message data\nconst entry = body.entry?.[0];\nconst changes = entry?.changes?.[0];\nconst value = changes?.value;\nconst message = value?.messages?.[0];\n\nif (!message) {\n  return { error: 'No message found' };\n}\n\nreturn {\n  client_phone: message.from,\n  text: message.text?.body || message.button?.text || '',\n  message_id: message.id,\n  timestamp: message.timestamp,\n  phone_number_id: value.metadata?.phone_number_id\n};"
      },
      "id": "extract_message",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.text }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if_has_text",
      "name": "Has Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:3001/api/voice/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $json.client_phone }}"
            },
            {
              "name": "user_input",
              "value": "={{ $json.text }}"
            },
            {
              "name": "verticale",
              "value": "salone"
            },
            {
              "name": "channel",
              "value": "whatsapp"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "call_voice_bridge",
      "name": "Call Voice Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "// Format response for WhatsApp\nconst voiceResponse = $input.first().json;\nconst originalData = $('Extract Message').first().json;\n\nreturn {\n  to: originalData.client_phone,\n  phone_number_id: originalData.phone_number_id,\n  response_text: voiceResponse.response || 'Mi scusi, non ho capito.',\n  layer: voiceResponse.layer,\n  faq_id: voiceResponse.faq_id || null,\n  confidence: voiceResponse.confidence || null\n};"
      },
      "id": "format_response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.to }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.response_text }}\"\n  }\n}"
      },
      "id": "send_whatsapp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp_token",
          "name": "WhatsApp Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:3001/api/chat/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cliente_telefono",
              "value": "={{ $('Extract Message').first().json.client_phone }}"
            },
            {
              "name": "user_query",
              "value": "={{ $('Extract Message').first().json.text }}"
            },
            {
              "name": "response",
              "value": "={{ $('Format Response').first().json.response_text }}"
            },
            {
              "name": "channel",
              "value": "whatsapp"
            },
            {
              "name": "layer",
              "value": "={{ $('Format Response').first().json.layer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log_chat",
      "name": "Log to SQLite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1450, 200]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Has Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Text?": {
      "main": [
        [
          {
            "node": "Call Voice Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Voice Bridge": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Log to SQLite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "whatsapp"
    },
    {
      "name": "voice"
    },
    {
      "name": "fluxion"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
